
html,
body {
	color: #505050;
	line-height: 1.75em;
	background: #EBEBEB;
	font-family: helvetica;
}
. table {
	padding: 0;
	text-align: center;
	font-size: 12px;
}
.main-header {
	text-align: left;
	/*padding: 10px 0 0 0;*/
	padding-top: 10px;
	padding-bottom: 0px;
	margin: 0 0 0 0;
	height: 100px;
	/*min-height: 100px;*/
	background: #FFFFFF;
}
.main-header .branding {
	font-size: 3.5em;
	color: #303030;
}
a {
	/*color: #e67e22;*/
	outline: none;
	text-decoration: none;
}
.main-header .branding img {
	max-width: 100%;
}
a:active,
a:focus,
a img {
	outline: none;
}
.main-navigation a:hover {
	outline: none;
	text-decoration: none;
}
.main-navigation {
	text-align: right;
	background: rgb(68,142,243)  ;
	border-top: 1px solid #ebebeb;
	/*border-bottom: 3px solid #elelel;*/
	margin-bottom: 10px;
}
.main-navigation .menu {
	padding: 0;
	margin: 0;
}
.main-navigation .menu li.nav-current {
	border-bottom: 3px solid #e67e22;
	margin-bottom: -2px;
	color: #e67e22;
}
.main-navigation .menu li.nav-current .a{
	/*border-bottom: 3px solid #e67e22;*/
	/*margin-bottom: -2px;*/
	color: #e67e22;
}
.nav-current{
	color: #E67E22;
}

.main-navigation .menu li {
	list-style: none;
	display: inline-block;
	position: relative;
}
.main-navigation .menu li a {
	color: #ffffff;
	line-height: 4em;
	display: block;
	padding: 0 21px;
}
.post {
	padding: 35px;
	background: #FFFFFF;
	margin-bottom: 35px;
	position: relative;
	overflow: hidden;
}
.post .post-head {
	text-align: center;
}
.post .post-head .post-title {
	margin: 0;
	font-size: 2.5em;
	line-height: 1em;
}
.post .post-head .post-title a {
	color: #303030;
}
.post .post-head .post-meta {
	color: #959595;
	margin: 14px 0 0 0;
}
.post-content {
	font: 400 18px/1.62"glyphicons halflings";
	color: #444443;
}
.post-content p {
	margin-top: 0;
	margin-bottom: 1.46em;
}
/*.btn-default {*/
	  /*/!*border: 1px solid #e67e22;*!/*/
	  /*/!*background: #e67e22;*!/*/
	  /*/!*color: #FFFFFF;*!/*/
	  /*transition: all 0.2s ease-in-out;*/
	  /*-webkit-transition: all 0.2s ease-in-out;*/
  /*}*/
.btn {
	padding: 7px 14px;
	border-radius: 2px;
}
.post .post-footer {
	margin-top: 30px;
	border-top: 1px solid #ebebeb;
	padding: 21px 0 0;
}
.post .post-footer .tag-list {
	color: #959595;
	line-height: 28px;
}
.sidebar .widget {
	background: #FFFFFF;
	padding: 21px 30px;
}
.widget {
	margin-bottom: 35px;
}
.widget .title {
	margin-top: 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #EBEBEB;
	margin-bottom: 21px;
	position: relative;
}
.widget .tag-cloud a {
	border: 1px solid #ebebeb;
	padding: 2px 7px;
	color: #959595;
	line-height: 1.5em;
	display: inline-block;
	margin: 0 7px 7px 0;
}
.main-footer {
	background: #202020;
	padding: 35px 0 0;
	color: #959595;
}
.main-footer .widget {
	padding: 0 30px;
}
.widget {
	margin-bottom: 35px;
}
.main-footer .widget .title {
	color: #FFFFFF;
	border-bottom: 1px #303030;
}
.widget .title {
	margin-top: 0;
	margin-bottom: 21px;
	padding-bottom: 7px;
	border-bottom: 1px solid #EBEBEB;
	position: relative;
}
.main-footer .widget .recent-post .recent-single-post {
	border-bottom: 1px dashed #303030;
}
.main-footer .recent-post .recent-single-post {
	border-bottom: 1px dashed #ebebeb;
	padding-bottom: 14px;
	margin-bottom: 14px;
}
.main-footer .widget .recent-post .recent-single-post .post-title {
	color: #959595;
}
.widget .recent-post .recent-single-post .post-title {
	color: #505050;
}
.main-footer .widget .recent-post .recent-single-post .date {
	color: #505050;
}
.widget .title:after {
	content: "";
	width: 90px;
	height: 1px;
	background: #e67e22;
	position: absolute;
	left: 0;
	bottom: -1px;
}
.main-footer .widget .tag-cloud a {
	border: 1px solid #303030;
}
.myheading {
	background: black;
}
.myfooter {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 50px;
	color: #767676;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}
.navbar-header a:hover {
	text-decoration: none;
}
#main-menu a:hover {
	color: #E67E22;
}